<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @journal.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @journal.date %>
</p>

<p>
  <strong>Entry:</strong>
  <%= @journal.entry %>
</p>

<%= link_to 'Edit', edit_journal_path(@journal) %> |
<%= link_to 'Back', journals_path %>
